@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700,800&display=swap");
html, body {
  font-family: 'Nunito Sans';
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
}

.btn.focus, .btn:focus {
  -webkit-box-shadow: 0 0 5px;
          box-shadow: 0 0 5px;
}

h1, h2, h3, h4, h5, h6 {
  color: #37475E;
  font-style: normal;
  font-weight: normal;
}

strong {
  font-weight: 700;
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

.text-red {
  color: #CF3736;
}

.text-blue {
  color: #37475E;
}

.btn-vermais {
  background: rgba(207, 55, 54, 0.2);
  color: #cf3736;
  height: 50px;
  font-weight: bold;
  line-height: 33px;
  margin-top: 10px;
  margin-left: auto;
}

.btn-vermais .square {
  height: 30px;
  width: 30px;
  background: #CF3736;
  color: #fff;
  vertical-align: middle;
  border-radius: 5px;
  margin-left: 15px;
}

.img-circle {
  border-radius: 100%;
}

.w-33 {
  width: 33%;
}

.card {
  border: none;
}

.card .card-footer {
  border-top: none;
}

.bg_p {
  position: absolute;
  z-index: -1;
}

.slick-prev {
  height: 50px;
  width: 50px;
  background: #f6dbdb;
  color: #CF3736;
  border-radius: 5px;
  position: absolute;
  bottom: -55px;
  right: 55px;
}

.slick-next {
  height: 50px;
  width: 50px;
  background: #CF3736;
  color: #fff;
  border-radius: 5px;
  position: absolute;
  bottom: -55px;
  right: 0px;
}

.navbar-brand {
  padding-top: 0;
}

@media only screen and (max-width: 990px) {
  .navbar-brand {
    width: 80%;
  }
}

.navbar-brand .navbar-logo {
  width: 45%;
}

.navbar-light {
  padding: 0;
}

.navbar-light .navbar-nav .nav-link {
  color: #37475E;
  font-weight: bold;
  font-size: 16px;
}

a {
  -webkit-transition: ease-in-out 1s;
  transition: ease-in-out 1s;
}

a:hover {
  text-decoration: none;
  color: #952424;
}

.active {
  display: block;
}

.hide {
  display: none;
}

#topo {
  display: block;
  width: 100%;
  height: 100%;
  background: url("/assets/img/bg.png");
  background-repeat: no-repeat;
  background-size: contain;
}

#topo #topbar {
  padding-top: 30px;
}

#topo #topbar a + a {
  margin-left: 15px;
}

@media only screen and (max-width: 990px) {
  #topo #topbar .b-lft a {
    float: left;
  }
}

#topo #topbar .b-lft a {
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  color: #37475E;
}

#topo #topbar .b-lft svg {
  width: 12px;
  vertical-align: middle;
}

#topo #topbar .ml-auto {
  text-transform: uppercase;
  font-weight: bold;
}

@media only screen and (max-width: 990px) {
  #topo #topbar .ml-auto * {
    float: right;
  }
}

#topo #topbar .ml-auto svg {
  vertical-align: middle;
}

#topo #topbar .ml-auto .btn-topbar {
  font-weight: bold;
  background: #fff;
  color: #CF3736;
  border-radius: 20px;
}

#topo #banner-content {
  padding-top: 80px;
}

#topo #banner-content .btn-investir {
  background: linear-gradient(135deg, #CF3736 0%, #C76666 50%);
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  font-weight: 800;
  width: 360px;
  border-radius: 50px;
  height: 50px;
  line-height: 35px;
}

#topo #banner-content h1 {
  font-size: 55px;
  line-height: 65px;
}

#topo #banner-content h5 {
  color: #37475e;
  opacity: 0.6;
}

#vantagens .STICKER {
  z-index: -1;
  overflow: visible;
  position: absolute;
  width: 615.437px;
  height: 695.583px;
  -webkit-transform: matrix(1, 0, 0, 1, -465.0983, 599.6917) rotate(67deg);
          transform: matrix(1, 0, 0, 1, -465.0983, 599.6917) rotate(67deg);
  -wekit-transform: matrix(1, 0, 0, 1, -465.0983, 599.6917) rotate(67deg);
  -moz-transform: matrix(1, 0, 0, 1, -465.0983, 599.6917) rotate(67deg);
  -webkit-transform-origin: center;
          transform-origin: center;
  left: 0px;
  top: 0px;
}

#vantagens .STICKER #STICKER {
  opacity: 0.37;
}

#vantagens h1 {
  font-size: 36px;
  font-weight: 700;
}

@media only screen and (min-width: 991px) {
  #vantagens h1 {
    margin-top: 20px;
    margin-bottom: 90px;
  }
}

#vantagens .vntg-box img {
  margin-bottom: 10px;
  margin-left: calc(-15%/3);
}

@media only screen and (min-width: 991px) {
  #vantagens .vntg-box img {
    margin-left: -15%;
  }
}

#vantagens .vntg-box h2 {
  color: #CF3736;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

#vantagens .vntg-box p {
  font-size: 18px;
  line-height: 24px;
  color: #37475E;
}

#ofertas .circle-percent {
  width: 81px;
  border-radius: 100%;
  border: 4px solid #CF3736;
  position: relative;
}

#ofertas .circle-percent p {
  color: #CF3736;
  font-size: 21px;
  font-weight: bold;
  padding-top: calc(81px/3 - 21px/3);
  text-align: center;
}

#ofertas .oferta-info {
  padding-top: calc(12px);
  padding-left: 10px;
}

#ofertas .oferta-info p {
  font-weight: 700;
  line-height: 24px;
  margin: 0;
}

#ofertas .oferta .card-brand {
  width: 70px;
  height: 70px;
  margin-top: -60px;
  background: #fff;
  border-radius: 5px;
  margin-bottom: 15px;
}

#ofertas .oferta .card-brand img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
}

#ofertas .oferta .card-title {
  font-size: 20px;
  color: #37475E;
  font-weight: bold;
}

#ofertas .oferta .card-text {
  font-size: 18px;
  color: #37475E;
  opacity: 0.9;
}

#ofertas .oferta .meta {
  height: 30px;
  background: linear-gradient(135deg, #f7bb41 0%, #ffab00 70%);
  position: absolute;
  width: 100%;
}

#ofertas .oferta .meta div {
  margin: auto;
}

#ofertas .oferta .meta div span {
  color: #fff;
}

#ofertas .is_capturing {
  height: 30px;
  background: #0f9d58;
  color: #fff;
  margin: 10px -1.25rem -0.75rem;
}

#ofertas .is_capturing span {
  margin: auto;
}

#ofertas .Caminho_375 {
  -webkit-transform: translate(-796.969px, -3376.967px) matrix(1, 0, 0, 1, 952.7663, 3492.6915) rotate(135deg);
          transform: translate(-796.969px, -3376.967px) matrix(1, 0, 0, 1, 952.7663, 3492.6915) rotate(135deg);
}

#ofertas .title {
  text-align: center;
  padding-top: 170px;
}

@media only screen and (max-width: 990px) {
  #ofertas .title {
    padding-top: 80px;
  }
}

#ofertas .title h1 {
  color: #37475E;
  font-size: 36px;
  font-weight: bold;
}

#ofertas .title p {
  color: #37475E;
  font-size: 18px;
  opacity: 0.9;
}

#depoimentos {
  padding-top: 170px;
}

#depoimentos #depoimentos_container {
  padding-top: 200px;
}

@media only screen and (max-width: 767px) {
  #depoimentos #depoimentos_container {
    padding-top: 0;
  }
}

#depoimentos #depoimentos_container .slide-depoimento .card {
  border-radius: 5px;
  border: 2px solid #ccc;
}

#depoimentos #depoimentos_container .slide-depoimento .card .name {
  color: #CF3736;
  font-weight: bold;
}

@media only screen and (max-width: 990px) {
  #depoimentos {
    padding-top: 80px;
  }
}

#depoimentos #video {
  margin-top: 80px;
  max-height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#depoimentos #video .Caminho_375 {
  position: absolute;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-transform-origin: center;
          transform-origin: center;
  z-index: -1;
}

#depoimentos #video .preview-video {
  opacity: 0.9;
  border-radius: 5px;
  background: #000;
  -webkit-transform: scale(0.8) translateY(-15%);
  transform: scale(0.8) translateY(-15%);
  margin: auto;
  position: relative;
}

#depoimentos #video .preview-video img {
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 990px) {
  #depoimentos #como_comecar {
    padding-top: 80px;
  }
}

#depoimentos .howto-item + .howto-item {
  padding-left: 10px;
}

#depoimentos .howto-item {
  width: 33.3%;
}

@media only screen and (max-width: 990px) {
  #depoimentos .howto-item {
    width: 100%;
  }
}

#depoimentos .howto-item .btn-red {
  text-transform: uppercase;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 25px;
  color: #fff;
  background: #CF3736;
}

#depoimentos .howto-item .image-howto {
  width: 170px;
  height: 150px;
  margin: auto;
  z-index: 1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

#depoimentos .howto-item .image-howto img {
  position: relative;
  border-radius: 100%;
  height: 170px;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

#depoimentos .howto {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

#depoimentos .howto .howto-item .howto-text {
  color: rgba(55, 71, 94, 0.9);
  font-size: 16px;
  line-height: 24px;
}

#depoimentos .howto .line {
  margin-left: calc(25% - 80px);
  width: 70%;
  background: rgba(230, 235, 241, 0.82);
  height: 2px;
  z-index: -1;
  -webkit-transform: translateY(80px);
          transform: translateY(80px);
}

@media only screen and (max-width: 990px) {
  #depoimentos .howto .line {
    display: none;
  }
}

#midia {
  padding-top: 50px;
  padding-bottom: 50px;
}

#duvida {
  margin-top: 100px;
}

@media only screen and (max-width: 990px) {
  #duvida {
    margin-top: 50px;
  }
}

#duvida .p-freq {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

#parceiros {
  padding-top: 100px;
}

#parceiros .title {
  margin-bottom: 40px;
}

#parceiros p {
  font-size: 18px;
  color: #37475E;
}

#parceiros .selected-tab {
  position: relative;
  margin-top: -27px;
  margin-left: 12.5%;
  z-index: 1;
  height: 50px;
}

#parceiros .selected-tab .seta {
  -webkit-filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.5));
}

@media only screen and (min-width: 991px) {
  #card-footer {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

#card-footer .card .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#card-footer .card .card-body .cfo-text {
  display: inline-block;
  margin-left: auto;
}

@media only screen and (min-width: 991px) {
  #card-footer .card .card-body img {
    -webkit-transform: translateX(-33%);
            transform: translateX(-33%);
    width: 25%;
  }
}

#footer {
  padding-bottom: 20px;
  background: url(/assets/img/bg-footer.png) no-repeat;
  background-size: cover;
}

#footer #brands div + div {
  margin-left: 5px;
}

#footer #bgsvg {
  width: 100%;
}

@media only screen and (max-width: 990px) {
  #footer svg {
    height: 100%;
  }
}

#footer #content {
  padding-top: 200px;
}

#footer #content h5 {
  font-weight: 600;
}

#footer #content ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 600;
}

#footer #content ul li {
  color: #37475E;
}

#footer #content ul li a {
  color: #37475E;
  font-weight: 500;
}

.customTab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0px;
  list-style: none;
}

.customTab li {
  width: calc(33.3% - 10px);
  -webkit-box-shadow: 0 0 2px;
          box-shadow: 0 0 2px;
  padding: 5px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 990px) {
  .customTab li {
    width: 100%;
  }
}

.customTab li img {
  vertical-align: unset;
  -webkit-transition: ease-in-out 1s;
  transition: ease-in-out 1s;
}

.customTab .list {
  width: 100px;
  height: 100px;
  background: #eee;
  padding: 10px;
}

.customTab .activelink {
  background-position-y: bottom;
}

.customTab .activelink img {
  -webkit-filter: saturate(3);
          filter: saturate(3);
  -webkit-transform: scale(105%);
          transform: scale(105%);
  -wekit-transform: scale(105%);
  -moz-transform: scale(105%);
}

#banner {
  background-color: darkgrey;
}

.column-left {
  padding: 10px 2rem;
  text-align: end;
}

.button-banner button {
  padding: 10px 0px;
}

.card-style {
  width: 24rem;
  margin-right: 0;
  padding-top: 2rem;
  float: right;
  border-radius: 5px;
}

.card-style p {
  margin: 7px 0;
  list-style: none;
}

.icon-style {
  font-size: 13px;
  margin-right: 9px !important;
}

.embed-submit-field {
  position: relative;
}

.embed-submit-field input {
  width: 100%;
  border-radius: 6px;
  border: thin solid #ccc;
  padding: 8px 0;
  margin: 0;
}

.embed-submit-field input[placeholder] {
  font-size: 20px;
  font-weight: 400;
  position: relative;
  padding-left: 4rem;
}

.embed-submit-field ::-webkit-input-placeholder {
  color: #ccc;
}

.embed-submit-field :-moz-placeholder {
  /* Firefox 18- */
  color: #ccc;
}

.embed-submit-field ::-moz-placeholder {
  /* Firefox 19+ */
  color: #ccc;
}

.embed-submit-field :-ms-input-placeholder {
  color: #ccc;
}

.embed-submit-field button {
  position: absolute;
  right: 5px;
  top: 5px;
  color: #fff;
  background: #CF3736;
  padding: 6px 17px;
}

.cartao-footer {
  margin-top: 10px;
  padding: 4px 0;
  background-color: whitesmoke;
  border-radius: 0 0 5px 5px;
}

.num-tempo {
  font-size: 20px;
}

.captaçao p, small {
  color: #37475E;
  margin: 0 !important;
  padding: 0 !important;
  font-weight: 300;
}

.captaçao p {
  text-align: bottom;
}

.captaçao small {
  font-size: 10px;
}

#artigo p {
  font-weight: 500;
  font-size: 18px;
  color: #8f8f8f;
  padding-top: 1rem;
}

#artigo ul li {
  font-weight: 500;
  font-size: 18px;
  color: #8f8f8f;
}

#artigo hr {
  margin: 2.5rem 0;
  background-color: rgba(214, 214, 214, 0.87) !important;
}

.texto-sm {
  color: #8f8f8f;
}

.style-span {
  color: #37475E;
  font-weight: 600;
  font-size: 18px;
}

.style-span i {
  font-size: 3rem;
}

.title-style {
  font-weight: 600 !important;
  font-size: normal;
  margin-top: 5rem;
  background-image: url("/assets/img/Caminho 624.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
}

.box {
  position: relative;
  top: 3rem;
  left: 16.5rem;
  height: 100px;
  width: 100px;
  background: #fff;
  border-radius: 50%;
  z-index: 10;
}

.box .chart {
  position: relative;
  width: 60px;
  height: 60px;
  margin: 0s auto;
  text-align: center;
  font-size: 23px;
  line-height: 70px;
  color: #CF3736;
  padding: 14px 0 1rem 30px;
}

.box .box .chart canvas {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 20px 10px 10px;
}

#segurança span {
  background-color: #fff;
  padding: 18px 0 3px 0;
  width: 350px;
  margin: 5px 80px;
  -webkit-box-shadow: 0 0 20px #ccc;
          box-shadow: 0 0 20px #ccc;
}

#segurança span:nth-of-type(2) {
  width: 430px;
}

#segurança span:nth-of-type(3) {
  margin-left: 110px;
  padding-right: 70px;
}

#segurança p {
  font-size: 18px;
  color: #37475E;
}

.img-style {
  position: relative;
  top: 15rem;
  right: 2rem;
  width: 180px;
  z-index: 10;
}

.text-box p {
  color: #37475E;
  font-size: 15px !important;
}

.title-style2 {
  font-weight: 700 !important;
  font-size: 35px;
  background-image: url("/assets/img/Caminho 624.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
}

.title-style3 {
  font-size: 35px;
}

.font-strong {
  font-size: 18px;
  font-weight: 900;
}

.activeItem p {
  display: block !important;
}

.none {
  display: none;
}

#saiba-mais {
  padding-top: 30px;
}

#saiba-mais h4 {
  font-weight: 700 !important;
}

#saiba-mais ul li {
  font-size: 20px;
  color: #777777;
  font-weight: 600;
  padding: 10px 0;
  list-style-type: none;
  margin: 0;
}

#saiba-mais ul li a {
  color: #777777;
  margin: 0;
}

#saiba-mais p {
  font-size: 18px;
  color: gray;
  font-weight: 500 !important;
  padding: 10px 0;
}

.box-button {
  position: relative;
  top: 13rem;
  text-align: center;
  -webkit-box-shadow: 0 0 70px #ccc;
          box-shadow: 0 0 70px #ccc;
  margin: 4rem 0 !important;
  padding: 3rem 0 !important;
  width: 700px;
  z-index: 10;
}

.box-button a {
  -webkit-box-shadow: 0 0 5px #CF3736;
          box-shadow: 0 0 5px #CF3736;
  background: linear-gradient(135deg, #CF3736 0%, #C76666 50%);
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  font-weight: 800;
  width: 360px;
  border-radius: 50px;
  height: 50px;
  line-height: 35px;
}
/*# sourceMappingURL=style.css.map */