@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700,800&display=swap');
$red: #CF3736;
$red_1: #C76666;
$dark-blue: #37475E;
$grey: rgba(55,71,94,1);
$yellow: #f7bb41;
$yellow_1: #ffab00;

$breakpoints: (
        "phone":        400px,
        "phone-wide":   480px,
        "phablet":      560px,
        "tablet-small": 640px,
        "tablet":       768px,
        "tablet1":      991px,
        "tablet-wide":  1024px,
        "desktop":      1248px,
        "desktop-wide": 1440px
);
@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}
.fs-16 {
  font-size: 16px;
}
.fs-14 {
  font-size: 14px;
}
html, body {
  font-family: 'Nunito Sans';
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
}
.btn.focus, .btn:focus {
  box-shadow: 0 0 5px;
}
h1,h2,h3,h4,h5,h6 {
  color: $dark-blue;
  font-style: normal;
  font-weight: normal;
}
strong {
  font-weight: 700;
}
hr {
  margin-top: 5px;
  margin-bottom: 5px;
}
.text-red {
  color: $red;
}
.text-blue {
  color: $dark-blue;
}
.btn-vermais {
  background: rgba(207,55,54,0.2);
  color: rgba(207,55,54,1);
  height: 50px;
  font-weight: bold;
  line-height: 33px;
  margin-top: 10px;
  margin-left: auto;
  .square {
    height: 30px;
    width: 30px;
    background: $red;
    color: #fff;
    vertical-align: middle;
    border-radius: 5px;
    margin-left: 15px;
  }
}
.img-circle {
  border-radius: 100%;
}
.w-33 {
  width: 33%;
}
.card {
  border: none;
  .card-footer {
    border-top: none;
  }
}
.bg_p {
  position: absolute;
  z-index: -1;
}
.slick-prev {
  height: 50px;
  width: 50px;
  background: lighten($red,40%);
  color: $red;
  border-radius: 5px;
  position: absolute;
  bottom: -55px;
  right: 55px;
}
.slick-next {
  height: 50px;
  width: 50px;
  background: $red;
  color: #fff;
  border-radius: 5px;
  position: absolute;
  bottom: -55px;
  right: 0px;
}
.navbar-brand {
  @include mq('tablet1', 'max') {
    width: 80%;
  }
  padding-top: 0;
  .navbar-logo {
    width: 45%;
  }
}
.navbar-light {
  padding:0;
  .navbar-nav {
    .nav-link {
      color: $dark-blue;
      font-weight: bold;
      font-size: 16px;
    }
  }
}
a {
  transition: ease-in-out 1s;
  &:hover {
    text-decoration: none;
    color: darken($red, 15%);
  }
}
.active {
  display: block;
}
.hide {
  display: none;
}

@import "pages/home";
@import "pages/oferta-interna";
@import "pages/quero-captar";