///
//TOPO

#topo-blog-interno {
  .caminho {
    display: block;
    width: 100%;
    height: 700px;
    z-index: -1;
    position: absolute;
    background: url("/assets/img/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    padding-bottom: 20px;
  }

  .navbar-expand-lg .navbar-nav {
    width: 600px !important;
  }
  #topbar {
    display: flex;
    padding-top: 15px;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 15px;
    a + a {
      margin-left: 10px !important;
    }

    @include mq("tablet1", "min") {
      padding-top: 25px;
      justify-content: space-between;
    }
    .b-lft {
      line-height: 2;
      @include mq("tablet1", "max") {
        a {
          font-size: 14px;
        }
      }
      a {
        text-transform: lowercase;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        color: $dark-blue;
        svg {
          font-weight: bold;
        }
      }
      svg {
        width: 12px;
      }
    }

    @include mq("tablet1", "max") {
      .btns {
        display: inline-block;
        text-align: right;
      }
      .btn-topbar {
        display: inline-block;
        margin-left: auto;
      }
      .text-red {
        display: inline-block;
        margin-right: auto;
      }
    }
    text-transform: uppercase;
    font-weight: bold;
    svg {
      vertical-align: middle;
    }
    .btn-topbar {
      font-weight: bold;
      box-shadow: $default_shadow;
      background: #fff;
      color: $red;
      border-radius: 20px;
    }
  }
}
//ARTIGO

#article-blog-interno {
  margin-top: 20px;
  .img-zuckerberg {
    img {
      width: 100%;
      border-radius: 15px;
    }
  }
  
  .artigo {
    position: relative;
    bottom: 5rem;
    left: 5rem;
    background-color: #fff;
    border-radius: 15px;
    width: 950px;
    padding: 4rem 2rem;
    .img-john-silva {
      text-align: center;
      margin-top: -6rem;   
      z-index: 30;
      img {
        box-shadow: 0 0 25px rgb(155, 155, 155);
      }
      h4 {
        font-size: 15px;
        font-weight: bold;
      }
    }
    h3 {
      font-weight: bold;
    }
    h2 {
      font-weight: bold;
      font-size: 50px;
    }
    small {
      color: $dark-blue;
      font-weight: 100;
      font-size: 14px;
      display: flex;
      flex-direction: row;
      span {
        opacity: 0.8;
        background-color: $red;
        color: #fff;
        padding: 3px 15px;
        border-radius: 5px;
        font-size: 12px;
        margin-right: 15px;
      }
    }
    p {
      font-size: 20px;
      margin-bottom: 3rem;
      line-height: 40px;
    }
    .icons {
      text-align: center;
      margin: auto;
      color: $dark-blue;
      font-size: 22px;
    }
    .icon-box-index {
      position: absolute;
      left: -4rem;
      top: 9rem;
      z-index: 30;
    }
    .icon-box-index-mobile {
      display: none;
      z-index: 30;
    }

    .span-icons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: #fff;
      box-shadow: 0.3px 3px 8px #ccc;
      width: 39px;
      height: 39px;
      border-radius: 100%;
      margin-bottom: 2rem;
    }
  }
}

@media screen and (max-width: 600px) {
  #article-blog-interno {
    .artigo {
    position: relative;
    bottom: 0;
    left: 0;
    background-color: #fff;
    border-radius: 15px;
    width: 100%;
    padding: 4rem 1rem;
    .img-john-silva {
      text-align: center;
      margin-top: -6rem;
      img {
        box-shadow: 0 0 25px rgb(155, 155, 155);
      }
      h4 {
        font-size: 15px;
        font-weight: bold;
      }
    }
      small {
        display: flex;
        flex-direction: column;
        span {
          text-align: center;
          width: 50%;
          margin-bottom: 5px;
        }
      }
      h2 {
        font-size: 30px;
      }
      p {
        font-size: 15px;
        margin-top: 30px;
      }
      .icon-box-index {
        display: none;
        position: absolute;
        top: -2rem;
        left: 0;
      }
      .span-icons {
        display: -webkit-inline-flex;
        width: 25px;
        height: 25px;
        margin: 0 3px;
      }
      .icons {
        font-size: 18px;
      }
      .icon-box-index-mobile {
       display: block;
        z-index: 30;
      }
    }
  }
}
@media screen and(min-width: 768px) and (max-width: 1025px) {
  #article-blog-interno {
    .artigo {
    position: relative;
    bottom: 0;
    left: 0;
    background-color: #fff;
    border-radius: 15px;
    width: 93%;
    margin-left: 4%;
    padding: 0;
    .img-john-silva {
      text-align: center;
      margin-top: -3rem;
      img {
        box-shadow: 0 0 25px rgb(155, 155, 155);
      }
      h4 {
        font-size: 15px;
        font-weight: bold;
      }
    }
    h3 {
      font-weight: bold;
    }
    h2 {
      font-weight: bold;
      font-size: 50px;
    }
    small {
      color: $dark-blue;
      font-weight: 100;
      font-size: 14px;
      display: flex;
      flex-direction: row;
      span {
        opacity: 0.8;
        background-color: $red;
        color: #fff;
        padding: 3px 15px;
        border-radius: 5px;
        font-size: 12px;
        margin-right: 15px;
      }
    }
    p {
      font-size: 20px;
      margin-bottom: 3rem;
      line-height: 40px;
    }
    .icons {
      text-align: center;
      margin: auto;
      color: $dark-blue;
      font-size: 22px;
    }
    .icon-box-index {
      position: absolute;
      left: -3rem;
      top: 9rem;
      z-index: 30;
    }
    .icon-box-index-mobile {
      display: none;
      z-index: 30;
    }

    .span-icons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: #fff;
      box-shadow: 0.3px 3px 8px #ccc;
      width: 39px;
      height: 39px;
      border-radius: 100%;
      margin-bottom: 2rem;
    }
  }
  }
}


//CARDS

#cards-article2 {
  font-size: 20px;
  .card {
    box-shadow: 10px 10px 15px #ccc;
    border-radius: 10px;
  }
  .hover {
    transition: ease-in-out 0.3s;
  }
  .hover:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
  }
  h2 {
    font-weight: 700;
    padding-bottom: 35px;
  }
  h3 {
    font-size: 20px;
    font-weight: 600;
  }
  p {
    font-size: 15px;
    color: $dark-blue;
  }
  footer {
    font-size: 12px;
    padding-bottom: 5px;
  }
  .card-2-seçao {
    margin-top: 8rem;
  }
}

@media screen and (max-width: 900px) {
  #cards-article2 {
    text-align: center;
    .card {
      margin-bottom: 40px;
      width: 95%;
      height: 95%;
      margin-left: 5px;
    }
  }
}
