///
//BANNER

#banner-content-blog{
  padding-top: 80px;
    .btn-investir {
      background: linear-gradient(135deg, $red 0%, $red_1 50%);
      text-transform: uppercase;
      color: #fff;
      font-size: 16px;
      font-weight: 800;
      width: 200px;
      border-radius: 50px;
      height: 50px;
      line-height: 35px;
      margin-top: 20px;
      -webkit-transition: color 1000ms linear;
      -moz-transition: color 1000ms linear;
      -o-transition: color 1000ms linear;
      -ms-transition: color 1000ms linear;
      transition: color 1000ms linear;
      -webkit-transition: background-color 1000ms linear;
      -moz-transition: background-color 1000ms linear;
      -o-transition: background-color 1000ms linear;
      -ms-transition: background-color 1000ms linear;
      transition: background-color 1000ms linear;
      &:hover{
        background: linear-gradient(135deg, darken($red,10%) 0%, darken($red_1,10%) 50%);
      }
    }
    h2 {
      font-size: 58px;
      line-height: 65px;
      font-weight: 600;
    }
    p {
      text-transform: uppercase;
      
      font-size: 15px;
      font-weight: none;
      color:  rgb(59, 75, 98);
    }
    h3 {
      margin-top: 20px;
      color: $grey;opacity: 0.6;
      font-size: 20px;
      line-height: 25px;
    }
  }

//CARDS

#cards-article{
  padding-top: 8rem;
  font-size: 20px;
  
  .card{
    box-shadow: 10px 10px 15px #ccc;
    border-radius: 10px;
  }
  .hover {
    transition: ease-in-out 0.3s;
  }
  .hover:hover{
    -webkit-transform:scale(1.05); 
    -moz-transform:scale(1.05); 
    -o-transform:scale(1.05);
    transform:scale(1.05);
  }
  h2{
    font-weight: 700;
    padding-bottom: 35px;
  }
  h3{
    font-size: 20px;
    font-weight: 600;
  }
  p{
    font-size: 15px;
    color: $dark-blue;
  }
  footer{
    font-size: 12px;
    padding-bottom: 5px;
  }
  .card-2-seçao{
    margin-top: 8rem;
  }
}

@media screen and (max-width: 900px) {
  #cards-article{
    text-align: center;
    .card{
      margin-bottom: 40px;
      width: 95%;
      height: 95%;
      margin-left: 5px;
    }
  }
}