section {
  h2 {
    font-size: 36px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1365px) {
  .overlay2 {
    height: 85% !important;
  }
}

.video_preview {
  img {
    width: 100%;
    z-index: -1;
  }
  width: 100%;
  .overlay {
    /*margin-left: 15px*/
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(93, 120, 158, 0.4);
    //opacity: 0.4;
    height: 100%;
    border-radius: 10px;
    width: calc(100%);
    object-fit: cover;
    .play {
      z-index: 3;
      height: 80px;
      width: 80px;
      background: rgba(0, 0, 0, 0.5);
      border: 2px solid #fff;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      text-align: center;
      line-height: calc(80px - 6px);
      font-size: 24px;
      position: absolute;
      top: calc(50% - (80px / 3) - 12px);
      left: calc(50% - (80px / 3));
    }
    .play-text {
      position: absolute;
      top: calc(50% + 60px);
      width: 50%;
      text-align: center;
      left: 25%;
    }
  }
}

//TOPO

#topo {
  display: block;
  width: 100%;
  background: url("../img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  padding-bottom: 20px;
  #topbar {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    @include mq("tablet1", "min") {
      flex-wrap: wrap;
    }
    @include mq("tablet", "max") {
      a+a{
        margin-top:5px!important;
      }
    }
    @include mq("tablet", "min") {
      a+a{
        margin-left:10px!important;
      }
    }
    .b-lft {
      @include mq("tablet1", "max") {
        a {
          float: left;
        }
      }
      a {
        font-size: 14px;
        font-style: normal;
        font-weight: bold;
        color: $dark-blue;
      }
      svg {
        width: 12px;
        vertical-align: middle;
      }
    }

    @include mq("tablet1", "max") {
      .btns {
        display: inline-block;
        text-align: right;
      }
      .btn-topbar {
        display: inline-block;
        margin-left: auto;
      }
      .text-red {
        display: inline-block;
        margin-right: auto;
      }
    }
    text-transform: uppercase;
    font-weight: bold;
    svg {
      vertical-align: middle;
    }
    .btn-topbar {
      font-weight: bold;
      //margin-left: 5px;
      background: #fff;
      color: $red;
      border-radius: 20px;
    }
  }

  //BANNER

  #banner-content {
    padding-top: 80px;
    .btn-investir {
      background: linear-gradient(135deg, $red 0%, $red_1 50%);
      text-transform: uppercase;
      color: #fff;
      font-size: 16px;
      font-weight: 800;
      width: 360px;
      border-radius: 50px;
      height: 50px;
      line-height: 35px;
      margin-top: 20px;
    }
    h2 {
      font-size: 55px;
      line-height: 65px;
    }
    h3 {
      margin-top: 20px;
      color: $grey;
      opacity: 0.6;
      font-size: 20px;
      line-height: 25px;
    }
  }
}

@media screen and (max-width: 600px) {
  .btn-investir {
    width: 320px !important;
  }
}

///VANTAGENS
.expandM15 {
  // margin-left: calc(-15%);
  // margin-right: calc(-15%);
}
#vantagens {
  .STICKER {
    z-index: -1;
    overflow: visible;
    position: absolute;
    width: 615.437px;
    height: 695.583px;
    transform: matrix(1, 0, 0, 1, -465.0983, 599.6917) rotate(67deg);
    -wekit-transform: matrix(1, 0, 0, 1, -465.0983, 599.6917) rotate(67deg);
    -moz-transform: matrix(1, 0, 0, 1, -465.0983, 599.6917) rotate(67deg);
    transform-origin: center;
    left: 0px;
    top: 0px;
    #STICKER {
      opacity: 0.37;
    }
  }
  h2 {
    font-size: 36px;
    font-weight: 700;
    @include mq("tablet1") {
      margin-top: 20px;
      margin-bottom: 90px;
    }
  }
  .vntg-box {
    @include mq("tablet1", "min") {
      transform: translateY(-17%);
    }
    img {
      //box-shadow: #ccc 0px 0px 30px;
      margin-bottom: 10px;
      margin-left: calc(-15% / 3);
      @include mq("tablet1") {
        margin-left: -15%;
      }
    }
    h3 {
      color: $red;
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
    }
    p {
      font-size: 18px;
      line-height: 24px;
      color: $dark-blue;
    }
  }
}

@media screen and (max-width: 768px) {
  #vantagens {
    margin-left: 0;
    text-align: center;
    .vntg-box {
      img {
        margin-bottom: 10px;
        margin-left: calc(0) !important;
        @include mq("tablet1") {
          margin-left: 0 !important;
        }
      }
      .img-circle {
        margin-left: 0 !important;
        position: relative;
        left: 0rem !important;
        bottom: 0 !important;
      }
    }
  }
}

//OFERTAS

#ofertas {
  .circle-percent {
    width: 81px;
    border-radius: 100%;
    border: 4px solid $red;
    position: relative;
    p {
      color: $red;
      font-size: 21px;
      font-weight: bold;
      padding-top: calc(81px / 3 - 21px / 3);
      text-align: center;
    }
  }
  .oferta-info {
    padding-top: calc(12px);
    padding-left: 10px;
    p {
      font-weight: 700;
      line-height: 24px;
      margin: 0;
    }
  }
  .oferta {
    transition: ease 0.6s;
    &:hover {
      transform: scale(1.05);
    }
    border-radius: 5px;
    .card-brand {
      width: 70px;
      height: 70px;
      margin-top: -60px;
      background: #fff;
      border-radius: 5px;
      margin-bottom: 15px;
      img {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
      }
    }
    .card-title {
      font-size: 20px;
      color: $dark-blue;
      font-weight: bold;
    }
    .card-text {
      font-size: 18px;
      color: $dark-blue;
      opacity: 0.9;
    }
    .meta {
      height: 30px;
      background: linear-gradient(135deg, $yellow 0%, $yellow_1 70%);
      position: absolute;
      width: 100%;
      border-radius: 5px 5px 0px 0px;
      div {
        margin: auto;
        span {
          color: #fff;
        }
      }
    }
  }
  .is_capturing {
    border-radius: 0px 0px 5px 5px;
    height: 30px;
    background: rgba(15, 157, 88, 1);
    color: #fff;
    margin: 10px -1.25rem -0.75rem;
    text-transform: uppercase;
    span {
      margin: auto;
    }
  }
  .Caminho_375 {
    transform: translate(-796.969px, -3376.967px)
      matrix(1, 0, 0, 1, 952.7663, 3492.6915) rotate(135deg);
  }

  .title {
    text-align: center;
    padding-top: 170px;
    @include mq("tablet1", "max") {
      padding-top: 80px;
    }
    h2 {
      color: $dark-blue;
      font-size: 36px;
      font-weight: bold;
    }
    p {
      color: $dark-blue;
      font-size: 18px;
      opacity: 0.9;
    }
  }
}

//DEPOIMENTOS

#depoimentos {
  background: url("../img/bg_dep.svg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 100px;
  z-index: -30 !important;
  h2 {
    font-size: 36px;
  }
  #depoimentos_container {
    padding-top: 200px;
    @include mq("tablet", "max") {
      padding-top: 0;
    }
    .slide-depoimento {
      .card {
        .left-arrow {
          position: absolute;
          top: 20px;
          left: 0px;
          z-index: 3;
        }
        background: transparent;
        .card-body {
          margin-left: 30px;
          border-radius: 5px;
          border: 1px solid #ccc;
        }
        .name {
          color: $red;
          font-weight: bold;
        }
      }
    }
  }

  padding-top: 170px;
  @include mq("tablet1", "max") {
    padding-top: 80px;
  }
  #video {
    margin-top: 80px;
    max-height: 600px;
    display: flex;
    .Caminho_375 {
      position: absolute;
      transform: rotate(135deg);
      transform-origin: center;
      z-index: 1;
    }
    .preview-video {
      z-index: 2;
      opacity: 0.9;
      border-radius: 5px;
      background: #000;
      -webkit-transform: scale(0.8) translateY(-15%);
      -moz-transform: scale(0.8) translateY(-15%);
      -ms-transform: scale(0.8) translateY(-15%);
      -o-transform: scale(0.8) translateY(-15%);
      transform: scale(0.8) translateY(-15%);
      margin: auto;
      position: relative;
      img {
        position: relative;
        object-fit: cover;
      }
    }
  }

  //COMO COMEÇAR

  #como_comecar {
    margin-top: 100px;

    @include mq("tablet1", "max") {
      padding-top: 80px;
    }
  }
  .howto-item + .howto-item {
    padding-left: 10px;
  }
  .howto-item {
    @include mq("tablet1", "max") {
      width: 100%;
    }
    .btn-red {
      text-transform: uppercase;
      font-size: 12px;
      padding: 5px 10px;
      border-radius: 25px;
      color: #fff;
      background: $red;
    }
    width: 33.3%;
    .image-howto {
      width: 170px;
      height: 150px;
      margin: auto;
      object-fit: cover;
      object-position: top;
      img {
        position: relative;
        border-radius: 100%;
        height: 170px;
        object-fit: cover;
        object-position: top;
      }
    }
  }

  .howto {
    flex-wrap: wrap;
    width: 100%;
    .howto-item {
      .howto-text {
        color: rgba(55, 71, 94, 0.9);
        font-size: 16px;
        line-height: 24px;
      }
    }
    .line {
      @include mq("tablet1", "max") {
        display: none;
      }
      margin-left: calc(25% - 80px);
      width: 70%;
      background: rgba(230, 235, 241, 0.82);
      height: 2px;
      transform: translateY(80px);
    }
  }
}

//MÍDIA

#midia {
  padding-top: 100px;
  padding-bottom: 100px;
  img {
    box-shadow: 0px 3px 60px rgba(55, 71, 94, 0.31);
    margin-top: 30px;
  }
}

#regulamentacao {
  padding-top: 60px;
}

//PARCEIROS

#parceiros {
  padding-top: 100px;
  .title {
    margin-bottom: 40px;
  }
  p {
    font-size: 18px;
    color: $dark-blue;
  }
  .customTab .clickme .activelink:active {
    width: 20px !important;
  }
}

//DÚVIDA

#duvida {
  margin-top: 100px;
  p {
    color: rgb(88, 99, 116);
  }
  @include mq("tablet1", "max") {
    margin-top: 50px;
  }
  .p-freq {
    flex-wrap: wrap-reverse;
    padding-top: 30px;

    .slider {
      .card {
        // margin: 0 10px;
        padding: 20px 20px 10px 20px;
        background-color: rgb(245, 245, 245) !important;
        border-radius: 5px;
        background: linear-gradient(to bottom, rgb(245, 245, 245) 60%, white);
        h3 {
          color: rgb(41, 41, 41);
          font-weight: 700;
          font-size: 18px;
          letter-spacing: 1px;
          line-height: 25px;
        }
        .gradient {
          position: absolute;
          bottom: 2rem;
          margin-left: -14px;
          border-radius: 5px;
          z-index: 20;
          width: 268px;
          height: 321px;
          background: linear-gradient(to bottom, transparent 75%, white);
        }
      }
    }
  }

  .slick-next {
    position: absolute;
    left: -60px;
    top: 50%;
    @include mq("tablet1", "max") {
      left: 246px;
      top: 89.4%;
    }
  }
  .slick-prev {
    position: absolute;
    left: -60px;
    top: calc(50% - 60px);
    @include mq("tablet1", "max") {
      bottom: -3px;
      position: relative;
      left: 189px;
    }
  }
  .read-container {
    max-height: 245px;
    overflow: hidden;
    position: relative !important;
  }
  .read-more {
    font-size: 18px;
  }
  .container-faq {
    width: 85%;
    position: relative;
    margin-left: auto;
    margin-right: 25px;
  }
  @media screen and (min-width: 1220px) {
    .slider {
      width: 280px !important;
      margin-left: 11px;
    }
  }
}

///RODAPÉ

#card-footer {
  h2 {
    font-size: 20px;
    font-weight: bolder;
  }
  @include mq("tablet1") {
    transform: translateY(100%);
  }
  a {
    color: $dark-blue;
    -webkit-transition: ease 0.4s;
    -moz-transition: ease 0.4s;
    -ms-transition: ease 0.4s;
    -o-transition: ease 0.4s;
    transition: ease 0.4s;
    &:hover {
      transform: scale(1.03);
      -webkit-transform-origin: center;
      -moz-transform-origin: center;
      -ms-transform-origin: center;
      -o-transform-origin: center;
      transform-origin: center;
    }
  }
  .card {
    margin-bottom: 20px;

    .card-body {
      display: flex;
      .cfo-text {
        display: inline-block;
        margin-left: auto;
      }
      img {
        width: 100%;
        object-fit: cover;
        @include mq("tablet1") {
          transform: translateX(-33%);
        }
      }
    }
  }
}
#footer {
  h2 {
    font-size: 20px;
    font-weight: bold;
  }
  padding-bottom: 20px;
  background: url(assets/img/bg-footer.png) no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  #brands {
    div + div {
      margin-left: 5px;
    }
  }
  #bgsvg {
    width: 100%;
  }
  @include mq("tablet1", "max") {
    svg {
      height: 100%;
    }
  }
  #content {
    //background: rgba(245,245,245,1);
    padding-top: 200px;
    .institucional {
      padding-top: 24px;
    }

    h5 {
      font-weight: 600;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      font-weight: 600;
      li {
        color: $dark-blue;
        a {
          color: $dark-blue;
          font-weight: 500;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  #content {
    .institucional {
      padding-top: 0;
    }
    h2 {
      padding-top: 10px;
    }
  }
}
.customTab {
  margin-left: -15%;
  margin-right: -15%;
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  list-style: none;
  margin-bottom: 70px;
  li {
    padding: 30px 30px 5px 5px;
    height: 100px;
    width: calc(33.3% - 10px);
    @include mq("tablet1", "max") {
      width: 100%;
    }

    box-shadow: 0px 3px 60px rgba(55, 71, 94, 0.31);

    float: left;
    padding: 10px;
    margin-right: 10px;
    a img {
      height: 100%;
      vertical-align: middle;
      transition: ease-in-out 1s;
    }

    a:not(.activelink) img {
      opacity: 0.6;
    }
    .selected-tab {
      -webkit-transition: ease 1s;
      -moz-transition: ease 1s;
      -ms-transition: ease 1s;
      -o-transition: ease 1s;
      transition: ease 1s;
      position: relative;
      margin-top: -50px;
      margin: auto auto;
      display: none;
    }
  }

  .list {
    width: 100px;
    height: 100px;
    background: #eee;
    padding: 10px;
  }
  .activelink {
    background-position-y: bottom;
    img {
      // filter: brightness(1.4);
      opacity: 1;
    }
  }
  .customTab {
    li {
      box-shadow: 0px 3px 60px rgba(55, 71, 94, 0.31);
      .hover {
        transition: ease-in-out 0.3s;
      }
      .hover:hover {
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -o-transform: scale(1.05);
        transform: scale(1.05);
      }
    }
  }
}
