section {
  h2 {
    font-size: 36px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1365px) {
  .overlay2 {
    height: 85% !important;
  }
}

.video_preview {
  img {
    width: 100%;
    z-index: -1;
  }
  width: 100%;
  .overlay {
    /*margin-left: 15px*/
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(93, 120, 158, 0.6);
    //opacity: 0.4;
    height: 100%;
    border-radius: 10px;
    width: calc(100%);
    object-fit: cover;
    .play {
      z-index: 3;
      height: 80px;
      width: 80px;
      background: rgba(0, 0, 0, 0.5);
      border: 2px solid #fff;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      text-align: center;
      line-height: calc(80px - 6px);
      font-size: 24px;
      position: absolute;
      top: calc(50% - (80px / 3) - 12px);
      left: calc(50% - (80px / 3));
    }
    .play-text {
      position: absolute;
      top: calc(50% + 60px);
      width: 50%;
      text-align: center;
      left: 25%;
      font-weight: 700;
    }
  }
}

//TOPO
.navbar-toggler {
  color: $dark-blue !important;
  border-color: transparent !important;
  .navbar-toggler-icon {
    width: 2em;
    height: 2em;
  }
}
#topo {
  display: block;
  width: 100%;
  @include mq("tablet1", "min") {
    background: url("../img/bg.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: right;
  }
  padding-bottom: 20px;
  #topbar {
    display: flex;
    padding-top: 15px;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 15px;
    a + a {
      margin-left: 10px !important;
    }

    @include mq("tablet1", "min") {
      padding-top: 25px;
      justify-content: space-between;
    }
    .b-lft {
      line-height: 2;
      @include mq("tablet1", "max") {
        a {
          font-size: 14px;
        }
      }
      a {
        text-transform: lowercase;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        color: $dark-blue;
        svg {
          font-weight: bold;
        }
      }
      svg {
        width: 12px;
      }
    }

    @include mq("tablet1", "max") {
      .btns {
        display: inline-block;
        text-align: right;
      }
      .btn-topbar {
        display: inline-block;
        margin-left: auto;
      }
      .text-red {
        display: inline-block;
        margin-right: auto;
      }
    }
    text-transform: uppercase;
    font-weight: bold;
    svg {
      vertical-align: middle;
    }
    .btn-topbar {
      font-weight: bold;
      box-shadow: $default_shadow;
      background: #fff;
      color: $red;
      border-radius: 20px;
    }
  }

  //BANNER

  #banner-content {
    padding-top: 80px;
    .btn-investir {
      background: linear-gradient(to right bottom, $red, $red_1);
      text-transform: uppercase;
      color: #fff;
      font-size: 16px;
      font-weight: 800;
      width: 360px;
      border-radius: 50px;
      height: 50px;
      line-height: 35px;
      margin-top: 20px;
    }
    h2 {
      font-size: 55px;
      line-height: 65px;
    }
    h3 {
      margin-top: 20px;
      color: $grey;
      opacity: 0.6;
      font-size: 20px;
      line-height: 25px;
    }
    @include mq("tablet1", "max") {
      h2 {
        font-size: 36px;
        line-height: 40px;
      }
      h3 {
        margin-top: 16px;
        color: $grey;
        opacity: 0.6;
        font-size: 20px;
        line-height: 25px;
      }
      padding-top: 40px;
      img {
        display: none;
      }
      .btn-investir {
        width: 90%;
        display: flex;
        justify-content: center;
        margin: auto;
        margin-top: 10px;
      }
    }
  }
}
@include mq("tablet1", "max") {
  .STICKER {
    display: none;
  }
}

///VANTAGENS
// .expandM15 {
//   margin-left: calc(-15%);
//   margin-right: calc(-15%);
// }
#vantagens {
  .STICKER {
    z-index: -1;
    overflow: visible;
    position: absolute;
    width: 615.437px;
    height: 695.583px;
    transform: matrix(1, 0, 0, 1, -465.0983, 599.6917) rotate(67deg);
    -wekit-transform: matrix(1, 0, 0, 1, -465.0983, 599.6917) rotate(67deg);
    -moz-transform: matrix(1, 0, 0, 1, -465.0983, 599.6917) rotate(67deg);
    transform-origin: center;
    left: 0px;
    top: 0px;
    #STICKER {
      opacity: 0.37;
    }
  }
  h2 {
    font-size: 36px;
    font-weight: 700;
    @include mq("tablet1") {
      margin-top: 20px;
      margin-bottom: 90px;
    }
  }
  .vntg-box {
    @include mq("tablet1", "min") {
      transform: translateY(-17%);
    }
    img {
      //box-shadow: #ccc 0px 0px 30px;
      margin-bottom: 10px;
      margin-left: calc(-15% / 3);
      @include mq("tablet1") {
        margin-left: -15%;
      }
    }
    h3 {
      color: $red;
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
    }
    p {
      font-size: 18px;
      line-height: 24px;
      color: $dark-blue;
    }
  }
}

@media screen and (max-width: 768px) {
  #vantagens {
    margin-left: 0;
    text-align: center;
    .vntg-box {
      img {
        margin-bottom: 10px;
        margin-left: calc(0) !important;
        @include mq("tablet1") {
          margin-left: 0 !important;
        }
      }
      .img-circle {
        margin-left: 0 !important;
        position: relative;
        left: 0rem !important;
        bottom: 0 !important;
      }
    }
  }
}

//OFERTAS

#ofertas {
  .circle-percent {
    width: 81px;
    border-radius: 100%;
    border: 4px solid $red;
    position: relative;
    p {
      color: $red;
      font-size: 21px;
      font-weight: bold;
      padding-top: calc(81px / 3 - 21px / 3);
      text-align: center;
    }
  }
  .oferta-info {
    padding-top: calc(12px);
    padding-left: 10px;
    p {
      font-weight: 700;
      line-height: 24px;
      margin: 0;
    }
  }
  .oferta {
    .loteAdicional {
      position: relative;
      width: 140px;
      top: -35px;
      font-size: 78%;
      line-height: unset;
      margin-left: auto !important;
      box-shadow: 0px 5px 20px rgba(55, 71, 94, 0.31);
      color: $green;
    }
    transition: ease 0.6s;
    &:hover {
      transform: scale(1.05);
    }
    border-radius: 7px;
    .card-img-top {
      border-radius: 7px 7px 0px 0px;
    }
    .card-brand {
      width: 70px;
      height: 70px;
      margin-top: -60px;
      background: #fff;
      border-radius: 5px;
      margin-bottom: 15px;
      img {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
      }
    }
    .card-title {
      font-size: 20px;
      color: $dark-blue;
      font-weight: bold;
    }
    .card-text {
      font-size: 18px;
      color: $dark-blue;
      opacity: 0.9;
    }
    .meta {
      height: 40px;
      text-transform: uppercase;
      background: linear-gradient(to right bottom, $yellow_1, $yellow);
      position: absolute;
      width: 100%;
      border-radius: 7px 7px 0px 0px;
      div {
        margin: auto;
        span {
          color: #fff;
        }
      }
    }
  }
  .is_capturing {
    border-radius: 0px 0px 7px 7px;
    height: 40px;
    background: $green;
    color: #fff;
    margin: 10px -1.25rem -0.75rem;
    text-transform: uppercase;
    span {
      margin: auto;
    }
  }
  .Caminho_375 {
    transform: translate(-796.969px, -3376.967px)
      matrix(1, 0, 0, 1, 952.7663, 3492.6915) rotate(135deg);
  }

  .title {
    text-align: center;
    padding-top: 170px;
    @include mq("tablet1", "max") {
      padding-top: 80px;
    }
    h2 {
      color: $dark-blue;
      font-size: 36px;
      font-weight: bold;
    }
    p {
      color: $dark-blue;
      font-size: 18px;
      opacity: 0.9;
    }
  }
}

//DEPOIMENTOS

#depoimentos {
  background: url("../img/bg_dep.svg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 100px;
  z-index: -30 !important;
  h2 {
    font-size: 36px;
    &.titulo {
      b {
        font-weight: 600;
      }
      font-weight: 900;
    }
    &.titulo-mobile {
      b {
        font-weight: 600;
      }
      font-weight: 900;
    }
    @include mq("tablet1", "max") {
      &.titulo {
        display: none;
      }
      &.titulo-mobile {
        display: block !important;
      }
    }
  }
  #depoimentos_container {
    padding-top: 200px;
    @include mq("tablet1", "max") {
      padding-top: 0;
      margin-top: -100px;
    }
    .slide-depoimento {
      .card {
        .left-arrow {
          position: absolute;
          top: 20px;
          left: 0px;
          z-index: 1000;
          @include mq("tablet1", "max") {
            position: relative;
            top: 10px;
            left: calc(50% - 5px);
            transform: rotate(90deg);
          }
        }
        background: transparent;
        .card-body {
          margin-left: 30px;
          border-radius: 5px;
          border: 1px solid #ccc;
        }
        .name {
          color: $red;
          font-weight: bold;
        }
      }
    }
  }

  padding-top: 100px;
  @include mq("tablet1", "max") {
    padding-top: 80px;
  }
  #depoimento_vid_container {
    .overflow-svg {
      position: absolute;
      top: 0;
      // @include mq('tablet1', 'min') {top:20px;}
      // @include mq('tablet-wide', 'min') {top:30px;}
      // @include mq('desktop-wide', 'min') {top:60px;}
      overflow: visible;
      width: 100%;
      height: 100%;
      object-fit: fill;
      object-position: center;

      .Caminho_375 {
        transform: rotate(135deg);
        transform-origin: center;
        z-index: 1;
        width: 100%;
        height: 100%;
      }
    }
    #video {
      margin-top: 80px;
      // max-height: 600px;
      display: flex;
      .preview-video {
        z-index: 2;
        border-radius: 5px;
        background: #000;
        -webkit-transform: scale(0.8) translateY(-15%);
        -moz-transform: scale(0.8) translateY(-15%);
        -ms-transform: scale(0.8) translateY(-15%);
        -o-transform: scale(0.8) translateY(-15%);
        transform: scale(0.8) translateY(-15%);
        margin: auto;
        position: relative;
        img {
          position: relative;
          object-fit: cover;
        }
      }
    }
  }

  //COMO COMEÇAR
  #como_comecar {
    // margin-top: 100px;

    @include mq("tablet1", "max") {
      padding-top: 80px;
    }
  }
  .howto-item + .howto-item {
    padding-left: 10px;
  }
  .howto-item {
    @include mq("tablet1", "max") {
      width: 100%;
    }
    .btn-red {
      text-transform: uppercase;
      font-size: 12px;
      padding: 5px 10px;
      border-radius: 25px;
      color: #fff;
      background: $red;
    }
    width: 33.3%;
    .image-howto {
      width: 170px;
      height: 140px;
      margin: auto;
      object-fit: cover;
      object-position: top;
      img {
        position: relative;
        border-radius: 100%;
        height: 170px;
        object-fit: cover;
        object-position: top;
      }
    }
  }

  .howto {
    flex-wrap: wrap;
    width: 100%;
    .howto-item {
      .howto-text {
        color: rgba(55, 71, 94, 0.9);
        font-size: 16px;
        line-height: 24px;
      }
    }
    .line {
      @include mq("tablet1", "max") {
        display: none;
      }
      margin-left: calc(25% - 80px);
      width: 70%;
      background: rgba(230, 235, 241, 0.82);
      height: 2px;
      transform: translateY(80px);
    }
  }
}

//MÍDIA

#midia {
  padding-top: 100px;
  padding-bottom: 100px;
  img {
    box-shadow: 0px 3px 60px rgba(55, 71, 94, 0.31);
    margin-top: 30px;
  }
}

#regulamentacao {
  padding-top: 60px;
}

//PARCEIROS

#parceiros {
  padding-top: 100px;
  .title {
    margin-bottom: 40px;
  }
  p {
    font-size: 18px;
    color: $dark-blue;
  }
  .customTab .clickme .activelink:active {
    width: 20px !important;
  }
}

//DÚVIDA

#duvida {
  margin-top: 100px;
  p {
    color: rgb(88, 99, 116);
  }
  @include mq("tablet1", "max") {
    margin-top: 50px;
  }
  .container-faq {
    #faq-arrows {
      width: 100vw;
      margin-left: calc(-7.5vw - 116px / 2);
    }
    .p-freq {
      flex-wrap: wrap-reverse;
      padding-top: 30px;

      .slider {
        .card {
          // margin: 0 10px;
          padding: 20px 20px 10px 20px;
          background-color: rgb(245, 245, 245) !important;
          border-radius: 5px;
          background: linear-gradient(to bottom, rgb(245, 245, 245) 60%, white);
          h3 {
            color: rgb(41, 41, 41);
            font-weight: 700;
            font-size: 18px;
            letter-spacing: 1px;
            line-height: 25px;
          }
          .gradient {
            position: absolute;
            bottom: 2rem;
            margin-left: -14px;
            border-radius: 5px;
            z-index: 20;
            width: 268px;
            height: 321px;
            background: linear-gradient(to bottom, transparent 75%, white);
          }
        }
      }
    }
  }

  .read-container {
    max-height: 245px;
    overflow: hidden;
    position: relative !important;
  }
  .read-more {
    font-size: 18px;
  }
  .container-faq {
    width: 85%;
    position: relative;
    margin-left: auto;
    margin-right: 25px;
  }
  @media screen and (min-width: 1220px) {
    .slider {
      width: 280px !important;
      margin-left: 11px;
    }
  }
}

///RODAPÉ

#card-footer {
  h2 {
    font-size: 20px;
    font-weight: bolder;
  }
  @include mq("tablet1") {
    transform: translateY(100%);
  }
  a {
    color: $dark-blue;
    -webkit-transition: ease 0.4s;
    -moz-transition: ease 0.4s;
    -ms-transition: ease 0.4s;
    -o-transition: ease 0.4s;
    transition: ease 0.4s;
    &:hover {
      transform: scale(1.03);
      -webkit-transform-origin: center;
      -moz-transform-origin: center;
      -ms-transform-origin: center;
      -o-transform-origin: center;
      transform-origin: center;
    }
  }
  .card {
    .card-body {
      display: flex;
      .cfo-text {
        display: inline-block;
        margin-left: auto;
      }
      img {
        width: 100%;
        object-fit: cover;
        @include mq("tablet1") {
          transform: translateX(-33%);
        }
      }
    }
    @include mq("tablet1", "max") {
      width: 90% !important;
      margin-left: auto;
      .card-body {
        display: flex;
        flex-direction: row;
      }
      .cfo-text {
        width: 100% !important;
      }
      .w-25 {
        height: 120px;
        width: 120px !important;
        margin: auto auto auto -25%;
        // margin-left: -25%;
        img {
          vertical-align: middle;
          width: 100%;
        }
      }
    }
    margin-bottom: 20px;
  }
}
#footer {
  width: 100%;
  h2 {
    font-size: 20px;
    font-weight: bold;
  }
  padding-bottom: 20px;

  background: #f5f5f5;
  background: linear-gradient(
    -4.5deg,
    #f5f5f5 0%,
    #f5f5f5 85%,
    transparent 85%,
    transparent 100%
  );

  #brands {
    div + div {
      margin-left: 5px;
    }
  }
  #bgsvg {
    width: 100%;
  }
  @include mq("tablet1", "max") {
    img[alt="Cluster21"] {
      max-height: 70px;
    }
    background: linear-gradient(
      -4.5deg,
      #f5f5f5 0%,
      #f5f5f5 95%,
      transparent 95%,
      transparent 100%
    );
    svg {
      height: 100%;
    }
  }
  #content {
    //background: rgba(245,245,245,1);
    padding-top: 200px;
    @include mq("tablet1", "max") {
      padding-top: 70px;
    }
    .institucional {
      padding-top: 24px;
    }

    h5 {
      font-weight: 600;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      font-weight: 600;
      li {
        color: $dark-blue;
        a {
          color: $dark-blue;
          font-weight: 500;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  #content {
    .institucional {
      padding-top: 0;
    }
    h2 {
      padding-top: 10px;
    }
  }
}
.customTab {
  margin-left: -15%;
  margin-right: -15%;
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  list-style: none;
  margin-bottom: 70px;
  .clickme {
    margin-bottom: 30px;
    padding: 30px 30px 5px 5px;
    height: 100px;
    width: calc(33.3% - 10px);
    @include mq("tablet1", "max") {
      width: 100%;
    }

    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.12),
      0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
      0 10px 16px rgba(0, 0, 0, 0.12);

    float: left;
    padding: 15px;
    margin-right: 10px;
    a img {
      max-width: 100%;
      max-height: 100%;
      margin: auto;
      transition: ease-in-out 1s;
    }

    a:not(.activelink) img {
      opacity: 0.6;
    }
    .selected-tab {
      -webkit-transition: ease 1s;
      -moz-transition: ease 1s;
      -ms-transition: ease 1s;
      -o-transition: ease 1s;
      transition: ease 1s;
      position: relative;
      margin-top: -43px;
      margin: auto auto;
      display: none;
    }
  }

  .list {
    width: 100px;
    height: 100px;
    background: #eee;
    padding: 10px;
  }
  .activelink {
    background-position-y: bottom;
    img {
      // filter: brightness(1.4);
      opacity: 1;
    }
  }
  .customTab {
    li {
      box-shadow: 0px 3px 60px rgba(55, 71, 94, 0.31);
      .hover {
        transition: ease-in-out 0.3s;
      }
      .hover:hover {
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -o-transform: scale(1.05);
        transform: scale(1.05);
      }
    }
  }
}

.overlayImg {
  height: calc(170px * (3 / 4));
  img {
    margin: auto;
  }
}
