///
//BANNER

@media screen and (max-width: 600px) {
  #banner-content img {
    padding-top: 30px;
  }
}

//SEGURANÇA

#segurança {
  padding-bottom: 7rem;
  span {
    background-color: #fff;
    padding: 18px 0 3px 0;
    width: 350px;
    margin: 5px 80px;
    box-shadow: 0 0 20px #ccc;
  }
  span:nth-of-type(2) {
    width: 430px;
  }
  span:nth-of-type(3) {
    margin-left: 110px;
    padding-right: 70px;
  }
  p {
    font-size: 18px;
    color: $dark-blue;
  }
  .row {
    padding-top: 2rem;
  }
  .title-style3 {
    padding-top: 5rem;
  }
  .img-chat {
    position: relative;
    bottom: 5rem;
  }
}

@media screen and (max-width: 600px) {
  #segurança {
    text-align: center;
    padding-top: 0;
    padding-bottom: 7rem;
    span {
      background-color: #fff;
      padding: 18px 0 3px 0 !important;
      width: 320px;
      margin: 5px 80px !important;
    }
    span:nth-of-type(2) {
      width: 320px;
    }
    img {
      text-align: center;
      justify-content: center;
      width: 300px;
    }
    .img-cvm {
      width: 130px;
      margin-left: 5rem;
      text-align: center;
    }
    .text-box {
      position: relative;
      right: 60px;
      padding: 0px 1px !important;
      margin: 0 !important;
    }
    .title-style2 {
      padding-top: 5rem;
    }
    .img-chat {
      position: relative;
      bottom: 0;
    }
  }
}

@media screen and (max-width: 600px) {
  .img-style {
    position: absolute;
    top: 1.5rem !important;
    right: 0rem !important;
    width: 110px !important;
    z-index: 10;
  }
}

.img-style {
  position: relative;
  top: 15rem;
  right: 2rem;
  width: 180px;
  z-index: 10;
}

.text-box p {
  color: $dark-blue;
  font-size: 15px !important;
}

.title-style2 {
  font-weight: 700 !important;
  font-size: 35px;
  background-image: url("assets/img/Caminho\ 624.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  padding-bottom: 13px;
}

.title-style3 {
  font-size: 35px;
  padding-bottom: 13px;
}

.font-strong {
  font-size: 18px;
  font-weight: 900;
}

.activeItem {
  p {
    display: block !important;
  }
}

//VANTAGENS

@media screen and (max-width: 600px) {
  #vantagens {
    margin-left: 0;
    padding: 0;
    justify-content: center;
    text-align: center;
    h2 {
      margin: 0;
    }
    .img-circle {
      position: relative;
      left: 10px !important;
      bottom: 0 !important;
    }
  }
}
@media screen and (max-width: 768px) {
  #vantagens {
    margin-left: 0;
    text-align: center;
    .vntg-box {
      img {
        margin-bottom: 10px;
        margin-left: calc(0) !important;
        @include mq("tablet1") {
          margin-left: 0 !important;
        }
      }
      .img-circle {
        margin-left: 0 !important;
        position: relative;
        left: 0rem !important;
        bottom: 0 !important;
      }
    }
  }
}

//CAROUSEL

#carousel {
  margin-top: 10rem;
  margin-bottom: 4rem;
  .carousel-inner {
    width: 100% !important;
  }
  .card {
    border-radius: 10px;
    width: 85% !important;
    height: 60%;
    padding: 3rem 1rem;
    margin: auto;
    color: $dark-blue;
  }
  .card1 {
    background-color: rgba(251, 247, 210, 0.781);
  }
  .card2 {
    background-color: rgba(213, 249, 255, 0.828);
  }
  .card3 {
    background-color: rgba(234, 214, 251, 0.801);
  }

  strong {
    font-size: large;
  }
  .dados-text {
    padding-top: 2rem;
    font-weight: 600;
  }
  h3 {
    font-weight: 700;
  }
  .font-text {
    font-size: large;
  }
  .text-muted {
    margin: 0 !important;
    padding-top: 1rem;
    font-weight: 100;
  }
  .icon-arrow {
    color: $dark-blue;
    font-size: 23px;
  }
  .span-icon {
    background-color: #fff;
    box-shadow: 0 0 8px $dark-blue;
    width: 50px;
    height: 50px;
    padding: 13px 6px 0 6px;
    border-radius: 100%;
  }
}

@media screen and (max-width: 600px) {
  #carousel {
    text-align: center;
    .title-style2 {
      text-align: center;
    }
  }
}

.carousel-img-logo {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 600px) {
  .carousel-img-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

//SAIBA MAIS

#saiba-mais {
  padding-top: 30px;
  h3 {
    font-weight: 700 !important;
    font-size: 25px;
  }
  ul li {
    font-size: 20px;
    color: rgb(119, 119, 119);
    font-weight: 600;
    padding: 10px 0;
    list-style-type: none;
    margin: 0;
  }
  ul li a {
    color: rgb(119, 119, 119);
    margin: 0;
  }
  p {
    font-size: 18px;
    color: gray;
    font-weight: 500 !important;
    padding-bottom: 10px;
  }
}

.active {
  a {
    display: flex;
    flex-direction: row;
    color: $dark-blue !important;
  }
  .icone {
    color: $dark-blue;
    display: block;
    text-align: center;
  }
}
.icone {
  display: none;
  text-align: center;
  margin-top: 3px;
}

@media screen and (max-width: 600px) {
  #saiba-mais {
    margin-top: 4rem;
  }
}

.box-button {
  position: relative;
  top: 10rem;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 0 70px #ccc;
  //margin: 4rem 0 !important;
  padding: 3rem 0 !important;
  width: 700px;
  border-radius: 5px;
  h2 {
    font-weight: bold;
    font-size: 25px;
  }
  a {
    transition: ease 0.6s;
    box-shadow: 0 0 5px $red;
    background: linear-gradient(135deg, $red 0%, $red_1 50%);
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    font-weight: 900;
    width: 360px;
    border-radius: 50px;
    height: 50px;
    line-height: 35px;
    &:hover {
      color: #fff;
      background: linear-gradient(
        135deg,
        darken($red, 10%) 0%,
        darken($red_1, 10%) 50%
      );
    }
  }
}

@media screen and (max-width: 600px) {
  .box-button {
    h2 {
      font-weight: 900;
    }
    a {
      text-transform: uppercase;
      color: #fff;
      font-size: 16px !important;
      font-weight: 800 !important;
      width: 300px !important;
      border-radius: 50px !important;
      height: 50px !important;
      line-height: 35px !important;
    }
  }
}
