.box-unicornio{
  text-align: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0 0 70px #ccc;
  padding: 5rem 10rem;
  margin: 15rem 0 7rem 0;
  border-radius: 7px;
  h2{
    font-size: 50px !important;
  }
  p{
    opacity: 0.8;
    padding-top: 1rem;
    line-height: 35px;
    font-size: 19px;
    color: $dark-blue;
    text-align: center;
    justify-content: center;
  }
  .Caminho_375 {
    opacity: 0.5;
    width: 255px;
    position: absolute;
    top: 97rem;
    right: 3rem;
    transform: rotate(160deg);
    transform-origin: center;
    z-index: -1;
  }
  .Caminho_379 {
    opacity: 0.5;
    width: 255px;
    position: absolute;
    top: 84rem;
    right: 63rem;
    transform: rotate(135deg);
    transform-origin: center;
    z-index: -1;
  }
}

@media screen and (max-width: 600px) {
  .box-unicornio{
    text-align: center;
    justify-content: center;
    padding: 2rem;
    margin: 80px 3px;
    h2{
      font-size: 30px;
    }
    p{
      font-size: 15px;
    }
    .Caminho_375 {
      width: 160px;
      position: absolute;
      top: 182rem !important;
      right: 0;
      transform: rotate(160deg);
    }
    .Caminho_379 {
      width: 160px;
      position: absolute;
      top: 143rem !important;
      right: 12rem !important;
      transform: rotate(160deg);
    }
  } 
}

@media screen and (max-width: 768px) {
  .box-unicornio{
    .Caminho_375 {
      width: 200px;
      position: absolute;
      top: 175rem;
      right: 0;
      transform: rotate(160deg);
    }
    .Caminho_379 {
      width: 200px;
      position: absolute;
      top: 140rem;
      right: 38rem;
      transform: rotate(160deg);
    }
  }
}


//DEPOIMENTOS
#depoimentos2{
  padding-top: 40px;

  #como_comecar {
    margin-top: 20px;
   
    @include mq('tablet1', 'max') {
      padding-top: 80px;
    }
  }
  .howto-item+.howto-item{
    padding-left: 10px;
  }
  .howto-item {
    @include mq('tablet1', 'max') {
      width: 100%;
    }
    .btn-red {
      text-transform: uppercase;
      font-size: 12px;
      padding: 5px 10px;
      border-radius: 25px;
      color: #fff;
      background: $red;
    }
    width: 33.3%;
    .image-howto {
      width: 170px;
      height: 150px;
      margin: auto;
      z-index: 1;
      object-fit: cover;
      object-position: top;
      img {
        position: relative;
        border-radius: 100%;
        height: 170px;
        z-index: -1;
        object-fit: cover;
        object-position: top;
      }
    }
  }

  .howto {
    flex-wrap: wrap;
    width: 100%;
    .howto-item {
      .howto-text {
        color: rgba(55,71,94,0.9);
        font-size: 16px;
        line-height: 24px;
      }
    }
    .line {
      @include mq('tablet1', 'max') {
        display: none;
      }
      margin-left: calc(25% - 80px);
      width: 70%;
      background: rgba(230,235,241,0.82);
      height: 2px;
      z-index: -1;
      transform: translateY(80px);
    }
  }
}

@media screen and (max-width: 600px) {
  .image{
    padding-left: 4px;
  }
}

//COMO FUNCIONA

#como-funciona {
  h2{
    font-size: 35px;
    text-align: center;
    padding-bottom: 3rem;
    font-weight: bold;
  }
  p{
    font-size: 18px;
  }
  p:nth-of-type(2) {
    opacity: 0.9;
  }
  .como_funciona-texto{
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
  }
  span{
    background-color: #fff;
    box-shadow: 0 0 35px rgb(214, 214, 214);
    width: 100px;
    height: 68px;
    padding-top: 7px;
    border-radius: 100%;
    margin: 0 30px 0 0;
    color: $red;
    text-align: center;
    font-size: 37px;
    font-weight: bold;
  }
  img{
    position: relative;
    bottom: 5rem;
  }
}

@media screen and (max-width: 600px) {
  #como-funciona {
    img{
      text-align: center;
      justify-content: center;
      width: 300px;
      position: relative;
      bottom: 0;
    }
    span{ 
      width: 125px; 
      height: 50px;
      font-size: 30px;
      padding-top: 4px;
    }
  }
}
