#quem-nos-somos{
  .artigo{    
    background-color: #fff;
    padding: 0rem 10rem;
    margin: 0rem 0 7rem 0;
    .title-quem-somos{
      h2{
        font-size: 35px;
        padding-top: 0 !important;
        span{
          font-size: 20px;
          color: $red;
          display: flex;
        flex-direction: column;
        }
      }
    }
    p{
      opacity: 0.8;
      padding-top: 1rem;
      line-height: 35px;
      font-size: 19px;
      color: $dark-blue;
    }
  }
}

@media screen and (max-width: 600px) {
  #quem-nos-somos{
    .artigo{
      text-align: center;
      justify-content: center;
      padding: 2rem;
      margin: 80px 3px;
      h2{
        font-size: 30px;
      }
      p{
        font-size: 15px;
      }
    } 
  }
  
}


//vantagens

#nossos-valores {
  margin-left: -14rem;
  h2 {
    font-size: 36px;
    font-weight: 700;
    @include mq('tablet1') {
      margin: 20px 120px 80px;
    }
  }
  .vntg-box2 {
    
    @include mq('tablet1', 'min') {
      transform: translateY(-17%);
      display: -webkit-inline-box;
      width: 300px;
      margin: 0 44px;
    }
    img {
      //box-shadow: #ccc 0px 0px 30px;
      margin: 30px 0 !important;
      position: relative;
      bottom: 4rem;
      left: 2rem;
    }
    h3 {
      color: $red;
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
    }
    p {
      font-size: 18px;
      line-height: 24px;
      color: $dark-blue;
    }
  }
}

@media screen and (max-width: 600px) {
  #nossos-valores{
    margin-left: 0;
    padding: 0;
    justify-content: center;
    text-align: center;
    h2{
      margin: 0;
    }
    .img-circle{
      position: relative;
      left: 0rem !important;
      bottom: 0 !important;
    }
  }
}


@media screen and (max-width: 768px) {
  #nossos-valores{
    margin-left: 0;
    text-align: center;
    .vntg-box2 {
      
      .img-circle{
        position: relative;
        left: 0rem !important;
        bottom: 0 !important;
      }
      h3 {
        color: $red;
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
      }
      p {
        font-size: 18px;
        line-height: 24px;
        color: $dark-blue;
      }
    }
  }
}

#cluster-na-midia{
  text-align: center;
  h2{
    font-weight: bold;
  }
  p{
    color: $dark-blue;
  }
  img{
    position: relative;
    right: 6rem;
    bottom: 5rem;
  }
}

#proposta-inovadora{
  
img{
  box-shadow: 0 0 70px #ccc; 
  border-radius: 10px;
  margin: 3rem 0 3rem 3rem;
}
p{
  margin: 14rem 0 0 5rem;
}
.slick-slider {
  position: relative;
  top: 270px;
  right: 20px;
  z-index: 20;
  

  .slick-track {
    width: 4000px!important;
  }
  .slick-current {
    margin-left: 300px!important;
    width: 30%!important;
    h3 {
      color: $dark-blue!important;
      width: 12%;
      width: 23%;
      font-size: 50px !important;
      font-weight: 600;
      padding: 10px 78px;
      border-radius: 13px;
      background-color: #fff;
      box-shadow: 0 0 20px #ccc;
    }
  }
}

.position-prev {
  margin: 10px;
  position: absolute;
  top: 37px;
  z-index: 3000;
  right: 30.7rem
}
.position-next {
  margin: 10px;
  position: absolute;
  top: 37px;
  z-index: 3000;
  right: 17.9rem
}

.slide-h3{
  h3 {
    margin: 2rem;
   font-size: 50px!important;
   font-weight: 600;
   color: rgb(168, 168, 168);
   justify-content: center;
  }

  // .slider {
  //   position: relative;
  //   right: 7rem;
  //   width: 100%;
  //   margin: 100px auto;
  //   display: inline-flex;
  //   justify-content: right;
    
  //   flex-flow: row nowrap;   
  // }
  
  // .slick-slide {
  //    margin: 30px 100px!important;
  //    text-align: center;
  //    padding: 8px 10px;
  //    transition: all ease-in-out 0.3s;
  //    color: #ccc;
        
  //    }
  // }
  // .slick-list{
  //   margin:30px -40px;
  //   padding:  8px -10px;
  // }
  
  // .slick-prev:before,
  // .slick-next:before {
  //   color: black;
  // }
  
  // //ativos na tela
  // .slick-active{
  //   background-color: #fff;
  //   color: #ccc;
  //   position: relative;
    
  // }
  
  // //center
  //  .slick-current{
  //    background-color:#fff;
  //    box-shadow: 0 0 40px #ccc;
  //    border-radius: 15px;
  //    color: $dark-blue;
  //     justify-content: end;
  //      flex-grow: 1;
  //      padding: auto;
  //  }
}
  //  .slider-area {
  //    position: absolute;
     
     
  //    z-index: 10;
  //  }

   .img-escritorio{
    position: relative;
    left: 1rem;
   }
}

#Conheça-nosso-time{
  text-align: center;
  img{
    margin-top: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 50px #ccc;
  }
  h2{
    font-weight: bold;
  }
  h3{
    font-size: 20px;
    font-weight: 700;
    color: $red;
    margin-top: 25px;
  }
  span{
    color: $dark-blue;
    font-weight: 100;
    font-size: 18px;
  }
  p{
    color: $dark-blue;
    font-size: 15px;
    opacity: 0.9;

  }
  .Caminho_375 {
    width: 255px;
    position: absolute;
    top: 35px;
    right: 8px;
    transform: rotate(135deg);
    transform-origin: center;
    z-index: -1;
  }
}

@media screen and (max-width: 600px) {
  #Conheça-nosso-time{
    .Caminho_375 {
      width: 255px;
      position: absolute;
      top: 35px;
      left: 70px;
    } 
  }  
}

@media screen and (max-width: 768px) {
  #Conheça-nosso-time{
    .Caminho_375 {
      width: 255px;
      position: absolute;
      top: 35px;
      right: 14rem;
    } 
  }  
}


// #proposta-inovadora{
//   .slider {
//     position: relative;
//     right: 7rem;
//     width: 100%;
//     margin: 100px auto;
    
//   }
  
//   .slick-slide {
//      margin: 30px 10px;
//      text-align: center;
//      padding: 8px 30px;
//      transition: all ease-in-out 0.3s;
//      color: #ccc;
//      .slide-h3{
//        width: 100%;
//         font-size: 50px;
//         font-weight: 600;
        
//      }
  
//   }
  
//   .slick-prev:before,
//   .slick-next:before {
//     color: black;
//   }
  
//   //ativos na tela
//   .slick-active{
//     background-color: #fff;
//     color: #ccc;
//     position: relative;
    
//   }
  
//   //center
//    .slick-current{
//      background-color:#fff;
//      box-shadow: 0 0 40px #ccc;
//      border-radius: 15px;
//      color: $dark-blue;
//    }
//    .slider-area {
//      position: absolute;
     
//      z-index: 10;
//    }

//    .img-escritorio{
//     position: relative;
//     left: 1rem;
//    }
// }




/*!*
* Slick Custom Theme
*/


// .slick-slide {
//   text-align: center;
//   color: #419be0;
//   background: white;
//   max-height: 90px;
//   max-width: 300px;
//   margin: 10px;
//   padding: 10px 0;
//   border-radius: 15px;

//   h3{
//     color: $dark-blue;
//     font-size: 50px;
//     font-weight: 600;
//     position: relative;
//     top: 5px;
//   }
// }


// .slick-center .slide-h3{
//   color: $dark-blue;
//   background: #fff;
//   box-shadow: 0 0 30px #ccc;
//   display: flex;
//   }
//   .slider{
//     position: relative;
//     bottom: 7rem;
//     max-width: 1100px;  
//     max-height: 10px;
//     margin: 20px auto;    
//     text-align: center;
//   }
//   .slide-h3{
//     font-weight: 600;
//     font-size: 50px;
//     margin: 10px 20px;
//     padding: 20px 90px;  
//     border-radius: 15px;
//   }
//   .slider div{
//     margin-right: 5px;
//   }
//   .slick-slide{
//     opacity: .6;
//   }
//   .slick-center{
//     display: block;
//     max-width: 10% !important;
//     max-height:20% !important;
//     opacity: 1;


//   }

