///

//banner
#banner-content{
  .clip-svg {
    height: 0;
    width: 0;
  }
  
  .triangle {
    display: block;
    margin-bottom: 0px auto;
    clip-path: url("#triangle-mask");
  }
}

//QUEM SOMOS NÓS

#quem-nos-somos {
  .artigo {
    background-color: #fff;
    @include mq("tablet1", "min") {
      padding: 0rem 10rem;
    }
    margin: 0rem 0 7rem 0;
    .title-quem-somos {
      h2 {
        font-size: 35px;
        padding-top: 0 !important;
        span {
          font-size: 20px;
          color: $red;
          display: flex;
          flex-direction: column;
        }
      }
    }
    p {
      opacity: 0.8;
      padding-top: 1rem;
      line-height: 35px;
      font-size: 19px;
      color: $dark-blue;
    }
  }
}

@media screen and (max-width: 600px) {
  #quem-nos-somos {
    .artigo {
      text-align: center;
      justify-content: center;
      padding: 2rem;
      margin: 80px 3px;
      h2 {
        font-size: 30px;
      }
      p {
        font-size: 15px;
      }
    }
  }
}

//NOSSOS VALORES

#nossos-valores {
  // margin-left: -14rem;
  h2 {
    font-size: 36px;
    font-weight: 700;
  }
  .vntg-box2 {
    .cartao {
      display: flex;
      width: 100%;
    }
    @include mq("tablet1", "max") {
      // transform: translateY(-17%);
      // width: 300px;
      // margin: 0 44px;
      text-align: center;
    }
    .circle_mask {
      flex-direction: row;
      width: 50%;
      overflow: hidden;
      border-radius: 50%;
      img {
        width: 100%;
        transform: scale(1.5);
      }
    }
    h3 {
      color: $red;
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
    }
    p {
      font-size: 18px;
      line-height: 24px;
      color: $dark-blue;
    }
  }
}

//MÍDIA

#midia {
  padding-bottom: 70px !important;
  p {
    color: $dark-blue;
  }
}

// #proposta-inovadora{
//   .carousel{
//     .slick-slider{
//       width: 100%;
//       margin: 0 auto;
//       .slick-current{
//         position: relative;
//         // margin-left: 300px;
//         width: 11% !important;
//         .position-prev {
//             margin: 10px;
//             position: absolute;

//             z-index: 3000;
//             right: 12.7rem;
//           }
//           .position-next {
//             margin: 10px;
//             position: absolute;

//             z-index: 3000;
//             // right: 17.9rem;
//           }
//       h3 {
//         position: relative;
//         color: $dark-blue!important;
//         width: 12%;
//         // width: 23%;
//         font-size: 50px !important;
//         font-weight: 600;
//         padding: 10px 78px;
//         padding-right: 200px;
//         border-radius: 13px;
//         background-color: #fff;
//         box-shadow: 0 0 20px #ccc;
//       }
//       }
//     }
//   }
// }

//PROPOSTA INOVADORA
#proposta-inovadora {
  img {
    box-shadow: 0 0 70px #ccc;
    border-radius: 10px;
    margin: 3rem 0 3rem 4rem;
  }
  p {
    margin: 14rem 0 0 5rem;
  }
  #arrows {
    position: relative;
    left: 61rem;
    bottom: 12rem;
  }
  .carousel {
    width: 100%;
    position: relative;
    .slick-slider {
      width: 100%;
      position: relative;
      top: 270px;
      right: 20px;
      z-index: 20;
      .slick-track {
        width: 4000px !important;
      }
      .slick-current {
        position: relative;
        margin-left: 300px;
        width: 11% !important;
        h3 {
          color: $dark-blue !important;
          width: 23%;
          font-size: 50px !important;
          font-weight: 600;
          padding: 10px 51px;
          padding-right: 171px;
          border-radius: 13px;
          background-color: #fff;
          box-shadow: 0 0 20px #ccc;
        }
      }
    }
    .slide-h3 {
      h3 {
        margin: 2rem;
        font-size: 50px !important;
        font-weight: 600;
        color: rgb(168, 168, 168);
        justify-content: center;
      }
    }
  }
  .slider {
    p {
      color: $dark-blue;
    }
    .slick-slider {
      .slick-track {
        width: 1000px !important;
      }
    }
  }
}

@media screen and(max-width: 415px) {
  #proposta-inovadora {
    #arrows {
      position: relative;
      left: 11rem;
      bottom: 0rem;
    }  
    .carousel {
      .slick-slider {
        position: relative;
        top: 300px;
        right: 0px;
        z-index: 20;

        .slick-track {
          width: 2000px;
        }
        .slick-current {
          margin-left: -128px;
          width: 0%;
        }
      }
      .slide-h3 {
        h3 {
          margin: 2rem;
          font-size: 50px;
          font-weight: 600;
          color: rgba(168, 168, 168, 0);
          justify-content: center;
        }
      }
    }
    .slider {
      img {
        width: 100%;
        position: relative;
        right: 4rem;
      }
      p {
        justify-content: center;
        margin: auto;
        margin-top: -35px;
        color: $dark-blue;
      }
      .slick-slider {
        .slick-track {
          width: 1000px !important;
        }
      }
    }
  }
}


@media screen and(min-width: 415px) and(max-width: 768px) {
  #proposta-inovadora{
    img {
      box-shadow: none;
    }
    #arrows {
      position: relative;
      left: 30rem;
      bottom: 0rem;
    }  
    .carousel{
      .slick-slider {
        position: relative;
        top: 270px;
        right: 20px;
        z-index: 20;

        .slick-track {
          width: 4000px;
        }
        .slick-current {
          margin-left: 72px ;
          width: 11% ;
        }
      }
    }

    .slider{
      img{
        width: 100%;
        position: relative;
        right: 4rem !important;
      }
      p{
        position: relative;
        top: 0 !important;
        justify-content: center;
        margin: auto;
        color: $dark-blue;
      }
      .slick-slider {
        .slick-track {
          width: 1000px !important;
        }
      }
    }
  }
}

@media screen and(min-width: 769px) and(max-width: 1024px) {
  #proposta-inovadora{
    img {
      box-shadow: none;
    }
    #arrows {
      position: relative;
      left: 46rem;
      bottom: 14rem;
    }  
.carousel{
  .slick-slider {
    position: relative;
    top: 270px;
    right: 20px;
    z-index: 20;

    .slick-track {
      width: 4000px!important;
    }
    .slick-current {
      margin-left: 72px ;
      width: 11% !important;
    }
  }
}
    .slider{
      img{
        margin: 8% auto;
        width: 100%;
        // position: relative;
        // right: 2.5rem;
      }
      p{
        position: relative;
        top: 14rem;
        justify-content: center;
        margin: 0;
        color: $dark-blue;
      }
      .slick-slider {
        .slick-track {
          width: 1000px !important;
        }
      }
    }
  }
}

// CONHEÇA NOSSO TIME

#Conheça-nosso-time {
  text-align: center;
  margin-top: 6rem;
  img {
    margin-top: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 50px #ccc;
  }
  h2 {
    font-weight: bold;
  }
  h3 {
    font-size: 20px;
    font-weight: 700;
    color: $red;
    margin-top: 25px;
  }
  span {
    color: $dark-blue;
    font-weight: 100;
    font-size: 18px;
  }
  p {
    color: $dark-blue;
    font-size: 15px;
    opacity: 0.9;
  }
  .Caminho_375 {
    width: 255px;
    position: absolute;
    top: 35px;
    right: 8px;
    transform: rotate(135deg);
    transform-origin: center;
    z-index: -1;
  }
}

@media screen and (max-width: 600px) {
  #Conheça-nosso-time {
    .Caminho_375 {
      width: 255px;
      position: absolute;
      top: 35px;
      left: 70px;
    }
  }
}

@media screen and (max-width: 768px) {
  #Conheça-nosso-time {
    .Caminho_375 {
      width: 255px;
      position: absolute;
      top: 35px;
      right: 14rem;
    }
  }
}
